*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'pictos';
}


body {
  background-color: hsl(0deg, 0%, 10%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

